/* カレンダーのレイアウト */
.highlight {
    background-color: #ffcccc;
    color: #000;
    font-weight: bold;
}
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
td:nth-child(6) {
    color: blue;
}
td:last-child {
    color: red;
}
td.disabled {
    color: #ccc;
}
td.today {
    background-color: #D65E72;
    color: #fff;
}
/* 予約情報の表示編集 */
.reserve1-table {
    width: 50%;
    margin: 0 auto;
    }
    .highlight {
    background-color: #ffcccc; /* 薄い赤色 */
    color: #000;
    font-weight: bold;