.title_sub
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    color: #222222;
    background-color: #e4e4ff;
    table-layout: fixed;
}
.title_sub_left
{
    width : 30%;
    text-align: left;
    color: #ffff00;
    background-repeat : no-repeat;
    background-position: left center;
}
.title_sub_center
{
    width : 40%;
    text-align: center;
    color: #222222;
    font-size : 100%;
}
.title_sub_right
{
    width : 30%;
    text-align: right;
    color: #222266;
}
