<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kenshuProject1</display-name>
  <listener>
    <listener-class>jp.swell.listener.ContextListenerServlet</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HttpServlet</display-name>
    <servlet-name>HttpServlet</servlet-name>
    <servlet-class>jp.patasys.common.http.HttpServletMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>45</session-timeout>
  </session-config>
  <security-constraint>
    <display-name>Jsp Security</display-name>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>