

.Question1{
	color:blue;
	font-weight: 900;
}

.Question2{
	background-color:blue;
	font-size:30px;
}

a{
	text-decoration:none;
	color:lightblue;
}

.Question4{
	background-color:green;
	margin:10px;
}

.Question4-2{
	background-color:yellowgreen;
	margin:10px;
}

.Question5{
	background-color:green;
	float:left;
}

.Question5-2{
	background-color:yellowgreen;
	float:left;
}




